body {
  height: 100%;
  background-image: url("../img/seattle.gif.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*background-color: #888;*/
}
body {
  color: #fff;
  text-align: center;
  text-shadow: .0rem .05rem .1rem rgba(0,0,0,.5);
}

.profile {
  max-width: 50%;
}
@media (min-width: 30em) {
    .profile {
      max-width: 40%;
    }
}
@media (min-width: 75em) {
    .profile {
      max-width: 25%;
    }
}

.cover-heading {
    padding-top: 0.7rem;
}